body {
    background-color: #06113C;
  }

.saturn {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
}

.alien {
    animation: spin 10s linear infinite;
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
  }
  
  @keyframes spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }