body {
    background-color: #06113C;
  }

.saturn {
  width:100%;
  height:150px;
  object-fit:cover;
  object-position:50% 50%;
}

.alien {
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }